body {
    background: linear-gradient(135deg, #f8e8ff, #dffcf6);
    font-family: "Poppins", sans-serif;
}

.form-container {
    max-width: 500px;
    margin: 70px auto;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 25px 35px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #5e2b97;
    font-weight: 700;
    margin-bottom: 25px;
}

.btn-save {
    background: #2bbd8c;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
    font-weight: 600;
}

.btn-save:hover {
    background: #229f73;
}

.btn-back {
    display: block;
    margin-top: 12px;
    text-align: center;
    color: #5e2b97;
    font-weight: 500;
    text-decoration: none;
}
.btn-back:hover {
    text-decoration: underline;
}